/* * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} */

h1 {
  /* border-width: 10px;
  border-style: solid;
  border-color: red; */
  border: 10px solid red;
  border-radius: 20px;

  /* single value */
  /* padding: 30px;
  margin: 30px; */
}

p {
  border: 10px solid red;
  /* two values */
  /* padding: 100px 30px; */
  text-align: justify;

  /* three values */
  /* padding: 100px 30px 20px; */

  /* four values */
  /* padding: 200px 40px 50px 100px; */

  /* padding-bottom: 20px; */
  /* padding: 0px 0px 20px 0px; */

  /* margin */
  /* margin: 50px; */
  margin: 50px 300px;
}
